h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

body {
  font-family: 'Lobster', cursive;
}

.package-title {
  text-align: center;
}

.quote-title {
  font-family: cursive;
  font-weight: lighter;
  text-align: center;
}

blockquote {
  font-size: 12;
}
